body {
    background-image: url(bgV2.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

.logo {
    height: 90px;
    width: 305px;
}

table {
    margin-top: 25px;
}
td {
    background-color:rgba(0, 0, 0, 0.5);
    height: 75px;
    width: 75px;
    border-radius: 25%;
    margin: 20px;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

form {
    display: flex;
}

.longBut {
    width: 70px
}

button {
    margin: 2px;
    height: 60px;
    width: 50px;
    border-radius: 10%;
    border-color: rgba(240, 248, 255, 0);
    font-weight: bold;
}

button:hover {
    background-color: rgb(255, 250, 173);
}

button:active {
    background-color: rgb(255, 246, 124);
}

#restart {
    visibility: hidden;
}